{namespace ts=TYPO3\TypoScript\ViewHelpers}
<f:section name="header">
	<link href="{f:uri.resource(path:'Styles/app.css', package:'SimplyAdmire.Facets')}" rel="stylesheet" />
	<f:for each="{styles}" as="stylesheet">
		<link href="{f:uri.resource(path:stylesheet)}" rel="stylesheet" />
	</f:for>
	<f:for each="{headerScripts}" as="script">
		<script src="{f:uri.resource(path:script)}"></script>
	</f:for>
</f:section>

<f:section name="body">
	<ts:render path="parts.mainMenu" />

	<div class="row">
		<div class="small-4 columns right">
			<div class="row">
				<div class="small-3 columns primary-theme-color color-cube">
					<a title="Primary"></a>
				</div>
				<div class="small-3 columns secondary-theme-color color-cube">
					<a title="Secondary"></a>
				</div>
				<div class="small-3 columns tertiary-theme-color color-cube">
					<a title="Tertiary"></a>
				</div>
				<div class="small-3 columns quaternary-theme-color color-cube">
					<a title="Quaternary"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ts:render path="content.main" />
		</div>
	</div>

	<f:for each="{footerScripts}" as="footerScript">
		<script src="{f:uri.resource(path:footerScript)}"></script>
	</f:for>
</f:section>