{namespace ts=TYPO3\TypoScript\ViewHelpers}
<f:section name="header">
	<f:for each="{styles}" as="stylesheet">
		<link href="{f:uri.resource(path:stylesheet)}" rel="stylesheet" />
	</f:for>
	<f:for each="{headerScripts}" as="script">
		<script src="{f:uri.resource(path:script)}"></script>
	</f:for>
</f:section>

<f:section name="body">
	<ts:render path="parts.mainMenu" />
	<ts:render path="content.main" />

	<f:for each="{footerScripts}" as="footerScript">
		<script src="{f:uri.resource(path:footerScript)}"></script>
	</f:for>
</f:section>